<div class="user-details">
  <h1>PROPOSTA</h1>
  <p>EZFuel</p>
</div>
<div>
  <h3>La meva idea es realitzar una web de comparador de gasolina.</h3>
  <br>
  
<p>Explicant millor el concepte, la meva web, contindrà un mapa i uns filtres on un usuari podrá
indicar el tipus de gasolina, la zona on està, el rang màxim de recerca etc.
Al fer clic a un boto del filtrar, es buscaran les gasolineres amb els paràmetres acordats i es
  mostraran en el mapa, amb la seva respectiva informació, ubicació, etc…</p>

</div>

<div>

  <h3>He repartit els mòduls en els següents apartats:</h3>
  <br>
  <p>Desenvolupament en entorn servidor: Laravel (Per realitzar la pàgina)</p><hr>
<p>Desenvolupament en entorn client: AJAX (Realitzar i tractar informació d’una API)</p><hr>
<p>Desplegament web: Desplegar WEB(Montar el hosting, DNS, etc)</p><hr>
<p>Base de Dades: Guardar usuaris registrats i informació puntual de les gasolineres</p><hr>
<p>Programació: Fer un petit programa per fer còpies de seguretat</p><hr>
<p>Entorn de Desenvolupament: Realitzar Diagrames</p><hr>
<p>Disseny d’Interficies: Utilització de HTML I CSS</p><hr>
<p>Llenguatge de marqués: Utilització d’algun fitxer XML per indicar dades estàtiques de
configuració</p><hr>
<p>Sistemes Informàtics: Documentació del maquinari utilitzat,implementació del programari
  selenium, per realitzar un recorregut per la pagina automatitzat</p><hr>
</div>
