<div class="user-details">
  <h1>PROPOSTA</h1>
  <p>EZFuel</p>
</div>
<div class="user">
La meva idea es realitzar una web de comparador de gasolina.
  
Explicant millor el concepte, la meva web, contindrà un mapa i uns filtres on un usuari podrá
indicar el tipus de gasolina, la zona on està, el rang màxim de recerca etc.
Al fer clic a un boto del filtrar, es buscaran les gasolineres amb els paràmetres acordats i es
mostraran en el mapa, amb la seva respectiva informació, ubicació, etc…

</div>
